ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px 5px;
    text-align: center;
}

li {
    border: 1px solid #fff;
    width: 200px;
    height: 60px;
    background: #4A2DB6;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
